*{
    margin:0;
    font-family: Arial;
    border: border-box;
}


.navbar{
    height: 60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height:50px;
    width:100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width: 100%;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:2px solid white;
}


.del{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.india{
    font-size: 1rem;
    margin-left: 2px;
}
.addicon{
    display:flex;
}


.navsearch{
    display:flex;
    width: 620px;
    height:40px;
    border-radius: 3px;
    justify-content: space-evenly;
}
.searchselect{
    background-color: #f3f3f3;
    font-size: 0.75rem;
    width:50px ;
    text-align: center;
    border:none;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px ;
}
.searchinput{
    width:100%;
    font-size: 1rem;
    border:none;
}
.searchicon{
    width:45px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #0f1111;
    border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px ;
    background-color:#febd68;
}
.navsearch:hover{
    border:2px solid orange;
}


span{
    font-size: 0.7rem;
}
.navsecond{
    font-size: 0.85rem;
    font-weight: 700;
}

.navcart i{
    font-size:30px;
}
.navcart{
    font-weight: 700;
    font-size: 0.85 rem;
}



.panel{
    height:40px;
    background-color: #222f3d;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panelall{
    font-weight: 600;
}
.paneloptions p{
    display: inline;
    margin-left: 15px ;
}
.paneloptions{
    width:70%;
    font-size: 0.85rem;
}
.paneldeals{
    font-size: 0.89rem;
    font-weight: 700;
}


.herosection{
    background-image: url("hero_image.jpg");
    height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.heromessage{
    background-color: white;
    color:black;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 85%;
    margin-bottom: 25px;
    
}
.heromessage a{
    color:#007185;
    text-decoration: none;
}

.shopsection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height:400px;
    width:23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.boximg{
    height:300px;
    background-size:cover;
    margin-top: 10px;
}
.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;
}
.boxcontent p{
    margin-top: 20px;
    color: #007185;
}

footer{
    margin-top: 15px;   
}
.footpanel1{
    background-color: #37475a;
    color:white;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.footpanel2{
    background-color: #222f3d;
    color:white;
    height:300px;
    display:flex;
    justify-content: space-evenly;

}
ul{
    margin:20px;
}
ul a{
    display:block;
    font-size: 0.85rem;
    color: #dddddd;
    margin-top: 10px;
}
.footpanel3{
    background-color:  #222f3d;
    color:white;
    border-top: 0.5px solid white;
    height:70px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width: 100px;
}

.footpanel4{
    background-color:#0f1111;
    color:white;
    font-size: 0.7rem;
    height:80px;
    text-align: center;
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
}